@using Microsoft.AspNetCore.Mvc.Localization
@using Toz.Dotnet.Core.Interfaces

@inject IViewLocalizer Localizer

@using Microsoft.AspNetCore.Authorization;
@using Toz.Dotnet.Resources.Configuration;
@using Microsoft.Extensions.Options;

@inject IAuthorizationService AuthorizationService
@inject IOptions<AppSettings> appSettings

<head>
    <link rel="stylesheet" href="~/css/mainpage.css" />
</head>

<body>
@if (await AuthorizationService.AuthorizeAsync(User, appSettings.Value.PolicyName))
{
    <div class="container">
        <div class="col-sm-4">
            <a asp-controller="Pets" asp-action="Index">
                <div class="tile purple">
                    <div class="tile-icon"><img src="~/images/pets-white.png" /></div>
                    <h3 class="title">@Localizer["PetTileTitle"]</h3>
                    <p>@Localizer["PetTileDescription"]</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a asp-controller="News" asp-action="Index">
                <div class="tile red">
                    <div class="tile-icon"><img src="~/images/news-white.png" /></div>
                    <h3 class="title">@Localizer["NewsTileTitle"]</h3>
                    <p>@Localizer["NewsTileDescription"]</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a asp-controller="Users" asp-action="Index">
                <div class="tile orange">
                    <div class="tile-icon"><img src="~/images/users-white.png" /></div>
                    <h3 class="title">@Localizer["UsersTileTitle"]</h3>
                    <p>@Localizer["UsersTileDescription"]</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a asp-controller="Helpers" asp-action="Index">
                <div class="tile brown">
                    <div class="tile-icon"><img src="~/images/helping-white.png" /></div>
                    <h3 class="title">@Localizer["HelpersTileTitle"]</h3>
                    <p>@Localizer["HelpersTileDescription"]</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a asp-controller="Schedule" asp-action="Index">
                <div class="tile green">
                    <div class="tile-icon"><img src="~/images/calendar-white.png" /></div>
                    <h3 class="title">@Localizer["SchedulerTileTitle"]</h3>
                    <p>@Localizer["SchedulerTileDescription"]</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a asp-controller="Organization" asp-action="Info">
                <div class="tile blue">
                    <div class="tile-icon"><img src="~/images/organization-white.png" /></div>
                    <h3 class="title">@Localizer["OrganizationTileTitle"]</h3>
                    <p>@Localizer["OrganizationTileDescription"]</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a asp-controller="Proposals" asp-action="Index">
                <div class="tile sea-green">
                    <div class="tile-icon"><img src="~/images/proposals-white.png" /></div>
                    <h3 class="title">@Localizer["ProposalsTileTitle"]</h3>
                    <p>@Localizer["ProposalsTileDescription"]</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a asp-controller="HowToHelp" asp-action="Info">
                <div class="tile purple">
                    <div class="tile-icon"><img src="~/images/helping-white.png" /></div>
                    <h3 class="title">@Localizer["HowToHelpTozTileTitle"]</h3>
                    <p>@Localizer["HowToHelpTozTileDescription"]</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a asp-controller="PetsStatus" asp-action="Index">
                <div class="tile orange">
                    <div class="tile-icon"><img src="~/images/helping-white.png" /></div>
                    <h3 class="title">@Localizer["PetsStatusTileTitle"]</h3>
                    <p>@Localizer["PetsStatusTileDescription"]</p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a asp-controller="Comments" asp-action="Index">
                <div class="tile red">
                    <div class="tile-icon"><img src="~/images/comments-white.png" /></div>
                    <h3 class="title">@Localizer["CommentsTileTitle"]</h3>
                    <p>@Localizer["CommentsTileDescription"]</p>
                </div>
            </a>
        </div>
    </div>
}
</body>