@using Microsoft.AspNetCore.Mvc.Localization

@model Toz.Dotnet.Models.News
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<style>
    #image-cropper {
        width: 250px;
        height: 350px;
        margin: 0 auto;
    }

    .cropit-preview {
        /* You can specify preview size in CSS */
        width: 250px;
        height: 250px;
        border: 1px solid black;
    }

    #file {
        display: none;
    }

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
</style>

<div class="container-fluid center">
    <fieldset class="pagetitle">
        <legend class="pagetitlelegend">@Localizer["PageTitle"]</legend>

        <form class="form-horizontal" asp-controller="News" asp-action="Avatar" method="POST" enctype="multipart/form-data">
            <div id="image-cropper">
                <div class="cropit-preview">
                    <div class="cropit-preview-background-container">
                        <img class="cropit-preview-background" />
                    </div>
                    <div class="cropit-preview-image-container">
                        <img class="cropit-preview-image" />
                    </div>
                </div>
                <br />
                <input type="range" class="cropit-image-zoom-input" />

                <br />

                <label for="file" class=" btn btn-block btn-default">
                    <i class="glyphicon glyphicon-upload"></i> @Localizer["Browse"]
                </label>
                <input type="file" name="file" id="file" class="cropit-image-input" accept="image/*" />
                <input type="hidden" name="image-data" class="hidden-image-data" />
            </div>
            <input type="button" class="btn btn-primary btn-block" id="SaveAvatar" value=@Localizer["Save"]>
        </form>

        <div class="form-group row" style="text-align: center">
            <span class="unhandled-error-span">@ViewData["UnhandledError"]</span>
        </div>
    </fieldset>
</div>

<script src="~/lib/cropit/dist/jquery.cropit.js"></script>
<script src="~/js/modal.scripts.js"></script>

<script>
    function dataURItoBlob(dataURI) {
        var binary = atob(dataURI.split(',')[1]);
        var array = [];
        for (var i = 0; i < binary.length; i++) {
            array.push(binary.charCodeAt(i));
        }
        return new Blob([new Uint8Array(array)], { type: 'image/jpeg' });
    }

    $(function () {
        $('#image-cropper').cropit({
            smallImage: 'stretch'
        });
    });

    $("#SaveAvatar").click(function (evt) {
            var fileUpload = $("#file").get(0);
            var files = fileUpload.files;

            var data = new FormData();

            var imageData = $('#image-cropper').cropit('export', { type: 'image/jpeg', quality: 0.9 } );
            data.append(files[0].name, dataURItoBlob(imageData));

            $.ajax({
                url: '@Url.Action("Avatar", "News", new { id = Model.Id })',
                type: "POST",
                data: data,
                contentType: false,
                processData: false,
                beforeSend: function ()
                {
                    $('#SaveAvatar').attr("disabled", true);
                },
                success: function (result)
                {
                    $('#myModal').modal('hide');
                    window.location.reload();
                }
            });

            evt.preventDefault();
        });
</script>