@using Microsoft.AspNetCore.Mvc.Localization
@using Toz.Dotnet.Models.EnumTypes
@model Toz.Dotnet.Models.News
@inject IViewLocalizer Localizer

<div class="container-fluid center">
    <form class="form-horizontal" asp-controller="News" asp-action="Edit" method="POST" enctype="multipart/form-data">
        <fieldset class="pagetitle">
            <legend class="pagetitlelegend">@Localizer["PageTitle"]</legend>
            <input type="hidden" name="status" value="Released" />

            <div class="form-group row">
                <label class="col-sm-2 control-label">@Localizer["Id"]</label>
                <div class="col-sm-10">
                    <input asp-for="Id" class="form-control" id="Id" disabled>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label">@Localizer["Title"]</label>
                <div class="col-sm-10">
                    <input asp-for="Title" class="form-control" id="Title">
                    <span class="glyphicon form-control-feedback"></span>
                    <span asp-validation-for="Title" class="help-block"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label">@Localizer["Text"]</label>
                <div class="col-sm-10">
                    <textarea asp-for="Contents" class="form-control" id="Text" cols="20" rows="4" style="resize: vertical"></textarea>
                    <span class="glyphicon form-control-feedback"></span>
                    <span asp-validation-for="Contents" class="help-block"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label">@Localizer["Photo"]</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            @Localizer["Browse"] <input type="file" id="imgInp" asp-for="Photo" accept="image/jpeg,image/png">
                            @{
                                if (ViewData["ValidationPhotoAlert"] != null)
                                {
                                    var firstString = Convert.ToString(ViewData["ValidationPhotoAlert"]);
                                    var secondString = Convert.ToString(ViewData["SelectedPhoto"]);
                                    @Html.Label("PhotoAlert", @Localizer[firstString].Value + @Localizer[secondString].Value, new { @class = "field-validation-error" })
                                }
                            }
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly>
                </div>
                @{
                    if (Model.Photo != null)
                    {
                        <img id='img-upload' src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" />
                    }
                    else
                    {
                        <img id='img-upload' />
                    }
                }
            </div>

            <div class="form-group row" style="text-align: center">
                <span class="unhandled-error-span">@ViewData["UnhandledError"]</span>
            </div>

            <input type="button" class="btn btn-danger btn-block" id="Delete" value=@Localizer["Delete"] onclick="@("window.location.href='" + @Url.Action("Delete", "News", new {id = Model.Id}) + "'");">
            @if (Model.Type == NewsStatus.Unreleased)
            {
                <input type="button" class="btn btn-warning btn-block" id="Cancel" data-dismiss="modal" value=@Localizer["Cancel"]>
                <input type="submit" class="btn btn-primary btn-block" id="Save" name="saveBtn" value=@Localizer["Save"] onclick="$('input[name=status]').val('Unreleased');$(this).closest('form').submit();">}
            else if (Model.Type == NewsStatus.Released)
            {
                <input type="button" class="btn btn-warning btn-block" id="Cancel" data-dismiss="modal" value=@Localizer["Cancel"]>
            }
            <input type="submit" class="btn btn-primary btn-block" id="Publish" value=@Localizer["Publish"] onclick="$('input[name=status]').val('Released');$(this).closest('form').submit();">

        </fieldset>
    </form>
</div>

<script src="~/js/modal.scripts.js"></script>