@using Microsoft.AspNetCore.Mvc.Localization
@using Toz.Dotnet.Core.Interfaces
@using Microsoft.AspNetCore.Authorization;
@using Toz.Dotnet.Resources.Configuration;
@using Microsoft.Extensions.Options;

@inject IViewLocalizer Localizer
@inject IAuthorizationService AuthorizationService
@inject IOptions<AppSettings> AppSettings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TOZ.Dotnet</title>
    
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/datatables/media/js/jquery.dataTables.js"></script>
        <script src="~/lib/datatables/media/js/dataTables.bootstrap.js"></script>
        <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.css"/>
        <script src="~/js/site.js"></script>
        <script src="~/lib/datatables-responsive/js/dataTables.responsive.js"></script>
        <script src="~/lib/datatables-responsive/js/responsive.bootstrap.js"></script>
        <script src="~/js/datatables/datatables.init.js"></script>
        <link rel="stylesheet" href="~/lib/datatables-responsive/css/responsive.bootstrap.css"/>
    </environment>
   
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/media/js/dataTables.bootstrap.min.js"></script>
        <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.min.css"/>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/lib/datatables-responsive/js/responsive.bootstrap.min.js"></script>
        <script src="~/js/datatables/datatables.init.min.js"></script>
        <link rel="stylesheet" href="~/lib/datatables-responsive/css/responsive.bootstrap.min.css"/>
    </environment>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">TOZ.Dotnet</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                @if (await AuthorizationService.AuthorizeAsync(User, AppSettings.Value.PolicyName))
                {
                    <li><a asp-controller="Pets" asp-action="Index">@Localizer["PetList"]</a></li>
                    <li><a asp-controller="News" asp-action="Index">@Localizer["NewsList"]</a></li>
                    <li><a asp-controller="Users" asp-action="Index">@Localizer["Users"]</a></li>
                    <li><a asp-controller="Helpers" asp-action="Index">@Localizer["Helpers"]</a></li>
                    <li><a asp-controller="Comments" asp-action="Index">@Localizer["Comments"]</a></li>
                    <li><a asp-controller="Schedule" asp-action="Index">@Localizer["Schedule"]</a></li>
                    <li><a asp-controller="Organization" asp-action="Info">@Localizer["OrganizationInfo"]</a></li>
                    <li><a asp-controller="Proposals" asp-action="Index">@Localizer["Proposals"]</a></li>
                    <li><a asp-controller="HowToHelp" asp-action="Info">@Localizer["HowToHelp"]</a></li>
                }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (await AuthorizationService.AuthorizeAsync(User, AppSettings.Value.PolicyName))
                    {
                        <li><a>@User.Identity.Name</a></li>
                        <li><a asp-controller="Account" asp-action="SignOut"><span class="glyphicon glyphicon-log-out"></span>  @Localizer["SignOut"]</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Account" asp-action="SignIn"><span class="glyphicon glyphicon-log-in"></span>  @Localizer["SignIn"]</a></li>
                    }
                </ul>
                <!--<ul hidden class="nav" style="text-align: right;">
                    <form id="selectLanguage" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" method="post">
                        <input type="hidden" name="culture" value="pl" />
                        <a class="flag flag-pl" href="#" onclick="$('input[name=culture]').val('pl');$(this).closest('form').submit();"></a>
                        <a class="flag flag-gb" href="#" onclick="$('input[name=culture]').val('en-US');$(this).closest('form').submit();"></a>
                        <a class="flag flag-de" href="#" onclick="$('input[name=culture]').val('de');$(this).closest('form').submit();"></a>
                    </form>
                </ul>-->
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
