@using Microsoft.AspNetCore.Mvc.Localization
@using Toz.Dotnet.Models.EnumTypes
@model Toz.Dotnet.Models.User
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Title"];
}

<body>
    <h2>@Localizer["Title"]</h2>
    <hr>

    <div class="NewUser">
        <form asp-controller="Users" asp-action="Add" method="POST" enctype="multipart/form-data">
            <table class="forms" align="center">
                <tr allign="left">
                    <td></td>
                    <td>@Html.ValidationMessageFor(Model => Model.FirstName, null, null)</td>
                </tr>
                <tr>
                    <td><label>@Localizer["FirstName"]:</label></td>
                    <td><input type="text" asp-for="FirstName" class="form-control" id="FirstName"></td>
                </tr>

                <tr allign="left">
                    <td></td>
                    <td>@Html.ValidationMessageFor(Model => Model.LastName, null, null)</td>
                </tr>
                <tr>
                    <td><label>@Localizer["LastName"]:</label></td>
                    <td><input type="text" asp-for="LastName" class="form-control" id="LastName"></td>
                </tr>

                <tr>
                    <td><label>@Localizer["PhoneNumber"]:</label></td>
                    <td><input type="text" asp-for="PhoneNumber" class="form-control" id="PhoneNumber"></td>
                </tr>

                <tr>
                    <td><label>@Localizer["Email"]:</label></td>
                    <td><input type="text" asp-for="Email" class="form-control" id="Email"></td>
                </tr>

                <tr allign="left">
                    <td></td>
                    <td>@Html.ValidationMessageFor(Model => Model.Purpose, null, null)</td>
                </tr>
                <tr>
                    <td><label>@Localizer["Purpose"]:</label></td>
                    <td>
                        <select asp-for="Purpose" class="form-control" id="UserType">
                            <option value="0">@Localizer["Administrator"]</option>
                            <option value="1">@Localizer["Volunteer"]</option>
                            <option value="2">@Localizer["TemporaryHome"]</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align: center;">
                        <br>
                        <input type="submit" class="btn btn-primary btn-block" id="UserSave" value=@Localizer["Save"]>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <input type="button" class="btn btn-primary btn-block" id="UserCancel" value=@Localizer["Cancel"] onclick="@("window.location.href='" + @Url.Action("Index", "Users") + "'");">
                    </td>
                </tr>

            </table>
        </form>
    </div>

</body>