@using Microsoft.AspNetCore.Mvc.Localization
@using Toz.Dotnet.Models.EnumTypes
@model IEnumerable<Toz.Dotnet.Models.User>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="row">
            <div class="col col-xs-6">
                <h3 class="panel-title">@Localizer["PageTitle"]</h3>
            </div>
            <div class="col col-xs-6 text-right">
                @Html.ActionLink(@Localizer["Add"].Value, "Add", "Users", null, new { data_modal = "", @class = "btn btn-sm btn-primary btn-create" })
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-list">
            <thead>
                <tr>
                    <th>@Localizer["FirstName"]</th>
                    <th>@Localizer["LastName"]</th>
                    <th>@Localizer["PhoneNumber"]</th>
                    <th>@Localizer["Email"]</th>
                    <th>@Localizer["Purpose"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Email</td>

                        @if (@item.Purpose == UserType.Administrator)
                        {
                            <td>@Localizer["Administrator"]</td>
                        }
                        else if (@item.Purpose == UserType.Volunteer)
                        {
                            <td>@Localizer["Volunteer"]</td>
                        }
                        else
                        {
                            <td>@Localizer["TemporaryHome"]</td>
                        }

                        <td>@Html.ActionLink(@Localizer["Edit"].Value, "Edit", "Users", new { id = item.Id }, new { data_modal = "", @class = "btn btn-primary btn-block" }) </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="panel-footer"></div>
    </div>
</div>