@using Microsoft.AspNetCore.Mvc.Localization
@model Toz.Dotnet.Models.Organization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

@{
    bool IsEditMode = Model == null || (bool)ViewData["EditMode"] == true;
}

<div class="container-fluid center">
    <form class="form-horizontal" asp-controller="Organization" asp-action="CreateEdit" method="POST" enctype="multipart/form-data">
        <fieldset class="pagetitle">
            <legend class="pagetitlelegend">@Localizer["PageTitle"]</legend>
            <fieldset>
                <legend>@Localizer["General"]</legend>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">@Localizer["Name"]</label>
                    <div class="col-sm-10">
                        @if (IsEditMode)
                        {
                            <input type="text" asp-for="Name" class="form-control" id="Name">
                            <span asp-validation-for="Name"></span>
                            <span class="glyphicon form-control-feedback"></span>
                        }
                        else
                        {
                            <input type="text" asp-for="Name" class="form-control" id="Name" readonly>
                        }
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>@Localizer["Address"]</legend>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">@Localizer["Street"]</label>
                    <div class="col-sm-10">
                        @if (IsEditMode)
                        {
                            <input type="text" asp-for="Address.Street" class="form-control" id="Stret">
                            <span asp-validation-for="Address.Street"></span>
                            <span class="glyphicon form-control-feedback"></span>
                        }
                        else
                        {
                            <input type="text" asp-for="Address.Street" class="form-control" id="Street" readonly>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">@Localizer["HouseNumber"]</label>
                    <div class="col-sm-10">
                        @if (IsEditMode)
                        {
                            <input type="text" asp-for="Address.HouseNumber" class="form-control" id="HouseNumber">
                            <span asp-validation-for="Address.HouseNumber"></span>
                            <span class="glyphicon form-control-feedback"></span>
                        }
                        else
                        {
                            <input type="text" asp-for="Address.HouseNumber" class="form-control" id="HouseNumber" readonly>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">@Localizer["ApartmentNumber"]</label>
                    <div class="col-sm-10">
                        @if (IsEditMode)
                        {
                            <input type="text" asp-for="Address.ApartmentNumber" class="form-control" id="ApartmentNumber">
                            <span asp-validation-for="Address.ApartmentNumber"></span>
                            <span class="glyphicon form-control-feedback"></span>
                        }
                        else
                        {
                            <input type="text" asp-for="Address.ApartmentNumber" class="form-control" id="ApartmentNumber" readonly>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">@Localizer["PostCode"]</label>
                    <div class="col-sm-10">
                        @if (IsEditMode)
                        {
                            <input type="text" asp-for="Address.PostCode" class="form-control" id="PostCode">
                            <span asp-validation-for="Address.PostCode"></span>
                            <span class="glyphicon form-control-feedback"></span>
                        }
                        else
                        {
                            <input type="text" asp-for="Address.PostCode" class="form-control" id="PostCode" readonly>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">@Localizer["City"]</label>
                    <div class="col-sm-10">
                        @if (IsEditMode)
                        {
                            <input type="text" asp-for="Address.City" class="form-control" id="City">
                            <span asp-validation-for="Address.City"></span>
                            <span class="glyphicon form-control-feedback"></span>
                        }
                        else
                        {
                            <input type="text" asp-for="Address.City" class="form-control" id="City" readonly>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">@Localizer["Country"]</label>
                    <div class="col-sm-10">
                        @if (IsEditMode)
                        {
                            <input type="text" asp-for="Address.Country" class="form-control" id="Country">
                            <span asp-validation-for="Address.Country"></span>
                            <span class="glyphicon form-control-feedback"></span>
                        }
                        else
                        {
                            <input type="text" asp-for="Address.Country" class="form-control" id="Country" readonly>
                        }
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>@Localizer["Contact"]</legend>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">@Localizer["Email"]</label>
                    <div class="col-sm-10">
                        @if (IsEditMode)
                        {
                            <input type="text" asp-for="Contact.Email" class="form-control" id="Email">
                            <span asp-validation-for="Contact.Email"></span>
                            <span class="glyphicon form-control-feedback"></span>
                        }
                        else
                        {
                            <input type="text" asp-for="Contact.Email" class="form-control" id="Email" readonly>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">@Localizer["Phone"]</label>
                    <div class="col-sm-10">
                        @if (IsEditMode)
                        {
                            <input type="text" asp-for="Contact.Phone" class="form-control" id="Phone">
                            <span asp-validation-for="Contact.Phone"></span>
                            <span class="glyphicon form-control-feedback"></span>
                        }
                        else
                        {
                            <input type="text" asp-for="Contact.Phone" class="form-control" id="Phone" readonly>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">@Localizer["Fax"]</label>
                    <div class="col-sm-10">
                        @if (IsEditMode)
                        {
                            <input type="text" asp-for="Contact.Fax" class="form-control" id="Fax">
                            <span asp-validation-for="Contact.Fax"></span>
                            <span class="glyphicon form-control-feedback"></span>
                        }
                        else
                        {
                            <input type="text" asp-for="Contact.Fax" class="form-control" id="Fax" readonly>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">@Localizer["Website"]</label>
                    <div class="col-sm-10">
                        @if (IsEditMode)
                        {
                            <input type="text" asp-for="Contact.Website" class="form-control" id="Website">
                            <span asp-validation-for="Contact.Website"></span>
                            <span class="glyphicon form-control-feedback"></span>
                        }
                        else
                        {
                            <input type="text" asp-for="Contact.Website" class="form-control" id="Website" readonly>
                        }
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>@Localizer["BankAccount"]</legend>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">@Localizer["BankAccountNumber"]</label>
                    <div class="col-sm-10">
                        @if (IsEditMode)
                        {
                            <input type="text" asp-for="BankAccount.Number" class="form-control" id="BankAccountNumber">
                            <span asp-validation-for="BankAccount.Number"></span>
                            <span class="glyphicon form-control-feedback"></span>
                        }
                        else
                        {
                            <input type="text" asp-for="BankAccount.Number" class="form-control" id="BankAccountNumber" readonly>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">@Localizer["BankName"]</label>
                    <div class="col-sm-10">
                        @if (IsEditMode)
                        {
                            <input type="text" asp-for="BankAccount.BankName" class="form-control" id="BankName">
                            <span asp-validation-for="BankAccount.Number"></span>
                            <span class="glyphicon form-control-feedback"></span>
                        }
                        else
                        {
                            <input type="text" asp-for="BankAccount.BankName" class="form-control" id="BankName" readonly>
                        }
                    </div>
                </div>
            </fieldset>
            <input type="button" class="btn btn-danger btn-block @(IsEditMode ? "" : "hidden")" id="OrganizationInfoEditFalse" value=@Localizer["Cancel"] onclick="@("window.location.href='" + @Url.Action("Info", "Organization", new { edit = false }) + "'");">
            <input type="submit" class="btn btn-primary btn-block @(IsEditMode ? "" : "hidden")" id="OrganizationInfoSave" value=@Localizer["Save"]>
            <input type="button" class="btn btn-primary btn-block @(IsEditMode ? "hidden" : "")" id="OrganizationInfoEditTrue" value=@Localizer["Edit"] onclick="@("window.location.href='" + @Url.Action("Info", "Organization", new { edit = true }) + "'");">
        </fieldset>
    </form>
</div>

@section Scripts {
    <script>
        (function ($) {
            var regex = /^(PL)?[0-9]{26}$/;
            $.validator.addMethod("accountnumber",
                function (value, element, params) {
                    if (!value) return true;
                    value = String(value).replace(/\s/g, '');
                    if (!value) return true;
                    var match = regex.test(value);
                    return match;
                });
            $.validator.unobtrusive.adapters.addBool("accountnumber");
        })(jQuery);
    </script>
}
