@using Microsoft.AspNetCore.Mvc.Localization
@using Toz.Dotnet.Models.EnumTypes
@model Toz.Dotnet.Models.Pet
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Dodawanie";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css"/>
</head>

<body>
    <h2>@Localizer["Title"]</h2>
    <hr>

    <div class="AddingAnPet">
        <form action="" method="POST">
            <table id="AddPetTable" align="center">
                <tr>
                    <td><label for="PetName">@Localizer["Name"]:</label></td>
                    <td><input class="form-control" type="text" name="PetName" id="PetName"></td>
                </tr>
                <tr>
                    <td><label for="PetType">@Localizer["Type"]:</label></td>
                    <td>
                        <select class="form-control" name="PetType" id="PetType">
                            <option value="UnidentifiedType"></option>
                            <option value="Cat">@Localizer["Cat"]</option>
                            <option value="Dog">@Localizer["Dog"]</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="PetSex">@Localizer["Sex"]:</label></td>
                    <td>
                        <select class="form-control" name="PetSex" id="PetSex">
                            <option value="UnidentifiedSex"></option>
                            <option value="Male">@Localizer["Male"]</option>
                            <option value="Female">@Localizer["Female"]</option>
                        </select>
                    </td>
                </tr>
                    <td colspan="2" style="width:64px;height:64px;text-align: center;">
                        <img src="http://www.hbhud.com/wp-content/uploads/2011/06/awesome_smiley-300x300.png" style="width:64px;height:64px;"/>
                        <br>
                        <input class="form-control" type="image" name="PetPhoto" id="PetPhoto" style="padding-top: 5px">
                    </td>
                <tr>
                    <td><label for="PetDescription">@Localizer["Description"]:</label></td>
                    <td><input class="form-control" type="text" name="PetDescription" id="PetDescription"></td>
                </tr>
                <tr>
                    <td><label for="PetAddress">@Localizer["Address"]:</label></td>
                    <td><input class="form-control" type="text" name="PetAddress" id="PetAddress"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <br>
                        <input class="form-control" type="submit" name="PetSave" id="PetSave" value=@Localizer["Save"]>
                        <br>
                        <input class="form-control" type="submit" name="PetCancel" id="PetCancel" value=@Localizer["Cancel"]>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
