@using Microsoft.AspNetCore.Mvc.Localization
@using Toz.Dotnet.Models.EnumTypes
@model Toz.Dotnet.Models.Pet
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<body>
    <h2>@Localizer["PageTitle"]</h2>
    <hr>

    <div class="EditingPet">
        <form asp-controller="Pets" asp-action="Edit" method="POST" enctype="multipart/form-data">
            <table class="forms" align="center">
                <input asp-for="AddingTime" class="form-control" id="PetAddingTime" type="hidden">

                <tr>
                    <td><label>@Localizer["Id"]:</label></td>
                    <td><input type="text" asp-for="Id" class="form-control" id="PetId" disabled></td>
                </tr>
                <tr align="left">
                    <td></td>
                    <td>@Html.ValidationMessageFor(Model => Model.Name, null, null)</td>
                </tr>
                <tr>
                    <td><label>@Localizer["Name"]:</label></td>
                    <td><input type="text" asp-for="Name" class="form-control" id="PetName"></td>
                </tr>
                <tr align="left">
                    <td></td>
                    <td>@Html.ValidationMessageFor(Model => Model.Type, null, null)</td>
                </tr>
                <tr>
                    <td><label>@Localizer["Type"]:</label></td>
                    <td>
                        <select asp-for="Type" class="form-control" id="PetType">
                            <option value="0">@Localizer["Unknown"]</option>
                            <option value="1">@Localizer["Dog"]</option>
                            <option value="2">@Localizer["Cat"]</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>@Localizer["Sex"]:</label></td>
                    <td>
                        <select asp-for="Sex" class="form-control" id="PetSex">
                            <option value="0">@Localizer["Unidentified"]</option>
                            <option value="1">@Localizer["Male"]</option>
                            <option value="2">@Localizer["Female"]</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <div class="form-group">
                            <label>@Localizer["Photo"]</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                        @Localizer["Browse"] <input type="file" id="imgInp" asp-for="Photo" accept="image/jpeg,image/png">
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly>
                            </div>
                            @{
                                if(Model.Photo != null)
                                {
                                    <img id='img-upload' src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" />
                                }
                                else
                                {
                                    <img id='img-upload'/>
                                }
                            }
                        </div>
                    </td>
                </tr>
                <tr align="left">
                        @{
                            if(ViewData["ValidationPhotoAlert"] != null)
                            {
                                var firstString = Convert.ToString(ViewData["ValidationPhotoAlert"]);
                                var secondString = Convert.ToString(ViewData["SelectedPhoto"]);
                                <td></td>
                                <td>@Html.Label("PhotoAlert", @Localizer[firstString].Value+@Localizer[secondString].Value, new {@class="field-validation-error"} )</td>
                            }
                        }
                </tr>
                <tr align="left">
                    <td></td>
                    <td>@Html.ValidationMessageFor(Model => Model.Description, null, null)</td>
                </tr>
                <tr>
                    <td><label>@Localizer["Description"]:</label></td>
                    <td><textarea asp-for="Description" class="form-control" id="PetDescription" cols="10" rows="4" style="resize: vertical"></textarea></td>
                </tr>
                <tr align="left">
                    <td></td>
                    <td>@Html.ValidationMessageFor(Model => Model.Address, null, null)</td>
                </tr>
                <tr>
                    <td><label>@Localizer["Address"]:</label></td>
                    <td><input type="text" asp-for="Address" class="form-control" id="PetAddress"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <br>
                        <input type="submit" class="btn btn-primary btn-block" id="PetSave" value=@Localizer["Save"]>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <input type="button" class="btn btn-primary btn-block" id="PetCancel" value=@Localizer["Cancel"] onclick="@("window.location.href='" + @Url.Action("Index", "Pets") + "'");">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>