@using Microsoft.AspNetCore.Mvc.Localization
@using Toz.Dotnet.Models.EnumTypes
@model Toz.Dotnet.Models.Pet
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Title"];
}

<body>
    <h2>@Localizer["Title"]</h2>
    <hr>

    <div class="EditingPet">
        <form asp-controller="Pets" asp-action="Edit" method="POST">
            <table id="EditPetTable" align="center">
                <input asp-for="AddingTime" class="form-control" id="PetAddingTime" type="hidden">

                <tr>
                    <td><label for="PetId">@Localizer["Id"]:</label></td>
                    <td><input asp-for="Id" class="form-control" id="PetId" disabled></td>
                </tr>
                <tr>
                    <td><label for="PetName">@Localizer["Name"]:</label></td>
                    <td><input asp-for="Name" class="form-control" id="PetName"></td>
                </tr>
                <tr>
                    <td><label>@Localizer["Type"]:</label></td>
                    <td>
                        <select asp-for="Type" class="form-control" id="PetType">
                            <option value="0">@Localizer["Unknown"]</option>
                            <option value="1">@Localizer["Dog"]</option>
                            <option value="2">@Localizer["Cat"]</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="PetSex">@Localizer["Sex"]:</label></td>
                    <td>
                        <select asp-for="Sex" class="form-control" id="PetSex">
                            <option value="0">@Localizer["Unidentified"]</option>
                            <option value="1">@Localizer["Male"]</option>
                            <option value="2">@Localizer["Female"]</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <div class="form-group">
                            <label>@Localizer["Photo"]</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                        @Localizer["Browse"] <input type="file" id="imgInp" accept="image/x-png,image/gif,image/jpeg" >
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <img id='img-upload'/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="PetDescription">@Localizer["Description"]:</label></td>
                    <td><input asp-for="Description" class="form-control" type="text" id="PetDescription"></td>
                </tr>
                <tr>
                    <td><label for="PetAddress">@Localizer["Address"]:</label></td>
                    <td><input asp-for="Address" class="form-control" type="text" id="PetAddress"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <input class="form-control" type="submit" id="PetSave" value=@Localizer["Save"]>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <input class="form-control" type="button" id="PetCancel" value=@Localizer["Cancel"] onclick="@("window.location.href='" + @Url.Action("Index", "Pets") + "'");">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
