@using Microsoft.AspNetCore.Mvc.Localization
@using Toz.Dotnet.Models.EnumTypes
@model IEnumerable<Toz.Dotnet.Models.Pet>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<h2>@Localizer["PageTitle"]</h2>
<div class="table-responsive">
    <div class="panel panel-default">
        <div class="panel-heading">@Localizer["ListPanelTitle"]</div> <!-- Jak ktoś będzie miał lepszy pomysł na tę nazwę to poprawię -->
        <div class="panel-body">
            <td>@Html.ActionLink(@Localizer["Add"].Value, "Add", "Pets", null, new { @style = "width: 120px;", @class = "btn btn-primary btn-block"}) </td>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>@Localizer["Name"]</th>
            <th>@Localizer["Type"]</th>
            <th>@Localizer["Sex"]</th>
            <th>@Localizer["Photo"]</th>
            <th>@Localizer["Description"]</th>
            <th>@Localizer["Address"]</th>
            <th>@Localizer["AddingTime"]</th>
            <th>@Localizer["LastEditTime"]</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>

                @if(@item.Type == PetType.DOG)
                {
                    <td>@Localizer["Dog"]</td>
                }
                else if(@item.Type == PetType.CAT)
                {
                    <td>@Localizer["Cat"]</td>
                }
                else
                {
                    <td>@Localizer["Unknown"]</td>
                }

                @if(@item.Sex == PetSex.MALE)
                {
                    <td>@Localizer["Male"]</td>
                }
                else if(@item.Sex == PetSex.FEMALE)
                {
                    <td>@Localizer["Female"]</td>
                }
                else
                {
                    <td>@Localizer["Unidentified"]</td>
                }

                <td style="width:64px;height:64px;"><img src="data:image;base64,@System.Convert.ToBase64String(item.Photo)" style="width:64px;height:64px;"/></td>
                <td>@item.Description</td>
                <td>@item.Address</td>
                <td>@item.AddingTime</td>
                <td>@item.LastEditTime</td>
                <td>@Html.ActionLink(@Localizer["Edit"].Value, "Edit", "Pets", new{ id = item.Id }, new { @class = "btn btn-primary btn-block"}) </td>
            </tr>
        }
    </table>
</div>