@using Microsoft.AspNetCore.Mvc.Localization
@using Toz.Dotnet.Models.EnumTypes

@model IEnumerable<Toz.Dotnet.Models.ViewModels.PetViewModel>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="row">
            <div class="col col-xs-4">
                <h3 class="panel-title">@Localizer["PageTitle"]</h3>
            </div>
            <div class="col col-xs-4">
                <input id="search" type="text" class="search form-control" placeholder="@Localizer["SearchPlaceholder"]">
            </div>
            <div class="col col-xs-4 text-right">
                <a class="data-modal btn btn-primary btn-sm btn-create" href="@Url.Action("Add","Pets")"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table id="table" class="table table-striped table-bordered table-list dt-responsive compact">
            <thead>
                <tr>
                    <th>@Localizer["Name"]</th>
                    <th>@Localizer["Type"]</th>
                    <th>@Localizer["Sex"]</th>
                    <th>@Localizer["Photo"]</th>
                    <th>@Localizer["Address"]</th>
                    <th>@Localizer["AddingTime"]</th>
                    <th>@Localizer["CurrentPlace"]</th>
                    <th>@Localizer["PetsStatus"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null)
                {
                    <tr>
                        <td class="text-center" colspan="9">@Localizer["NoPets"]</td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ThePet.Name</td>
                            @if (@item.ThePet.Type == PetType.Dog)
                            {
                                <td>@Localizer["Dog"]</td>
                            }
                            else if (@item.ThePet.Type == PetType.Cat)
                            {
                                <td>@Localizer["Cat"]</td>
                            }
                            else
                            {
                                <td>@Localizer["Unknown"]</td>
                            }

                            @if (@item.ThePet.Sex == PetSex.Male)
                            {
                                <td>@Localizer["Male"]</td>
                            }
                            else if (@item.ThePet.Sex == PetSex.Female)
                            {
                                <td>@Localizer["Female"]</td>
                            }
                            else
                            {
                                <td>@Localizer["Unidentified"]</td>
                            }

                            <td>
                                @if (item.ThePet.Photo != null)
                                {
                                    <img src="data:image;base64,@Convert.ToBase64String(item.ThePet.Photo)" alt="Pet photo" />
                                }
                                else
                                {
                                    <img src="~/images/no-image.png" alt="Pet photo" />
                                }
                            </td>
                            <td>@item.ThePet.Address</td>
                            <td>@item.ThePet.Created</td>
                            <td>@item.TheHelper.Address</td>
                            @if (item.ThePetStatus.RGB != null)
                            {
                                <td><div style="background-color: @item.ThePetStatus.RGB; display: inline-block; border: 3px solid black; border-radius: 8px; width: 25px; height: 25px;"></div> @item.ThePetStatus.Name</td>
                            }
                            else
                            {
                                <td>@item.ThePetStatus.Name</td>
                            }
                            <td class="center-column">
                                <a class="data-modal btn btn-primary btn-sm" href="@Url.Action("Images", "Pets")/@item.ThePet.Id"><span class="glyphicon glyphicon-picture"></span></a>
                                <a class="data-modal btn btn-primary btn-sm" href="@Url.Action("Edit", "Pets")/@item.ThePet.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>