@using Microsoft.AspNetCore.Mvc.Localization
@using Toz.Dotnet.Models.EnumTypes
@model IEnumerable<Toz.Dotnet.Models.Proposal>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-table">
    <div class="panel-heading">
        <div class="row">
            <div class="col col-xs-4">
                <h3 class="panel-title">@Localizer["PageTitle"]</h3>
            </div>
            <div class="col col-xs-4">
                <input type="text" id="search" class="search form-control" placeholder="@Localizer["SearchPlaceholder"]">
            </div>
            <div class="col col-xs-4 text-right">
                <a class="data-modal btn btn-primary btn-sm btn-create" href="@Url.Action("Add", "Proposals")"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        @if (ViewData["ActivationError"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewData["ActivationError"]");
                };
            </script>
            
        }
        <table id="table" class="table table-striped table-bordered table-list dt-responsive nowrap" width="100%">
            <thead>
            <tr>
                <th>@Localizer["FirstName"]</th>
                <th>@Localizer["LastName"]</th>
                <th>@Localizer["PhoneNumber"]</th>
                <th>@Localizer["Email"]</th>
                <th>@Localizer["Purpose"]</th>
                <th>@Localizer["CreationDate"]</th>
                <th>@Localizer["IsAccepted"]</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="overflow-ellipsis">@item.FirstName</td>
                    <td class="overflow-ellipsis">@item.LastName</td>
                    <td>@item.PhoneNumber</td>
                    <td class="overflow-ellipsis">@item.Email</td>
                    @{
                        string highestRole;
                        if (@item.Roles.Contains(UserType.Sa))
                        {
                            highestRole = "Administrator";
                        }
                        else if (@item.Roles.Contains(UserType.Toz))
                        {
                            highestRole = "TozWorker";
                        }
                        else if (@item.Roles.Contains(UserType.Volunteer))
                        {
                            highestRole = "Volunteer";
                        }
                        else if (@item.Roles.Contains(UserType.Anonymous))
                        {
                            highestRole = "Anynonymous";
                        }
                        else
                        {
                            highestRole = "None";
                        }
                    }
                    <td>@Localizer[highestRole]</td>
                    <td>@item.CreationTime</td>
                    <td>@Localizer[item.IsRead ? "Yes" : "No"]</td>
                    
                    <td class="center-column">
                        <a class="data-modal btn btn-primary btn-sm" href="@Url.Action("Edit", "Proposals")/@item.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-success btn-sm" href="@Url.Action("Activate", "Proposals")/@item.Id"><span class="glyphicon glyphicon-ok"></span></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>